---
layout: default
title: Horizon Sound
---

<div class="homepage-wrapper">

  {% include homepage-teaser.html %}

  {% assign new_releases_public = site.data.homepage.new_releases | where: "videostatus", "Public" %}
  <section class="homepage-section">
    <h2 class="section-header">New Releases...</h2>
    {% include homepage-tiles.html 
         title=""
         items=new_releases_public 
    %}
  </section>

  {% assign spotlight_public = site.data.homepage.spotlight | where: "videostatus", "Public" %}
  <section class="homepage-section">
    <h2 class="section-header">Spotlight Music</h2>
    {% include homepage-tiles.html 
         title=""
         items=spotlight_public 
    %}
  </section>

  <section class="playlist-section collections-panel">
      {% assign projects_public = site.data.homepage.projects | where: "videostatus", "Public" %}
      <section class="homepage-section">
        <h2 class="section-header">Collections</h2>
        {% include homepage-tiles.html 
             title=""
             items=projects_public 
        %}
      </section>
    </section>

</div>
