<section class="homepage-section">
  <h2 class="section-header">{{ include.title }}</h2>

  <div class="tile-grid">
    {% for tile in include.items %}
      {% if tile.playlist_id %}
        <a class="tile" href="/music/playlists/{{ tile.playlist_id }}/">
      {% else %}
        <a class="tile" href="{{ tile.url }}">
      {% endif %}
        <img src="{{ tile.image }}" alt="{{ tile.title }}">
        <h3 class="tile-title">{{ tile.title }}</h3>
      </a>
    {% endfor %}
  </div>
</section>
