{% if page.tiles %}

  {% assign project_tiles_public = "" | split: "" %}

  {% for tile in page.tiles %}
    {% assign match = site.data.music.songs | where: "url", tile.url | first %}
    {% if match and (match.videostatus == "Public" or preview_mode) %}
      {% assign project_tiles_public = project_tiles_public | push: tile %}
    {% endif %}
  {% endfor %}

  {% if project_tiles_public.size > 0 %}
  <section class="song-project">

    <h2 class="section-header">{{ page.project_title }}</h2>

    <div class="tile-grid">
      {% for tile in project_tiles_public %}
        <a class="tile" href="{{ tile.url }}">
          <img src="{{ tile.image }}" alt="{{ tile.title }}">
          <h3 class="tile-title">{{ tile.title }}</h3>
        </a>
      {% endfor %}
    </div>

  </section>
  {% endif %}

{% endif %}
