{% assign current_song = include.current_song %}

{% if current_song and current_song.primary_playlist != "" %}

  {% assign playlist_name = current_song.primary_playlist %}

  {% assign related = site.data.music.songs | where: "primary_playlist", playlist_name %}
  {% assign related = related | where: "videostatus", "Public" %}

  {% assign sorted_by_sequence = related | sort: "sequence" %}
  {% assign first_item = sorted_by_sequence | first %}

  {% if first_item.sequence %}
    {% assign playlist_sorted = sorted_by_sequence %}
  {% else %}
    {% assign playlist_sorted = related | sort: "title" %}
  {% endif %}

  {% if playlist_sorted.size > 0 %}
  <section class="song-project">
    <div class="playlist-carousel">
      <button class="carousel-arrow left-arrow">◀</button>
    
      <div class="horizontal-strip">
          {% for song in playlist_sorted %}
            {% assign index = forloop.index %}
            <a class="tile playlist-tile {% if song.url == current_song.url %}active-tile{% endif %}"
               href="{{ song.url }}">
              <img src="{{ song.image }}" alt="{{ song.title }}">
              <h3 class="tile-title">{{ song.title }}</h3>
            </a>
          {% endfor %}
      </div>
    
      <button class="carousel-arrow right-arrow">▶</button>
    </div>
  </section>
  {% endif %}
{% endif %}
