{% assign current_song = include.current_song %}

{% if current_song and current_song.primary_playlist != "" %}

  {% assign playlist_name = current_song.primary_playlist %}

  {% assign related = site.data.music.songs | where: "primary_playlist", playlist_name %}
  {% assign related = related | where: "videostatus", "Public" %}

  {% assign sorted_by_sequence = related | sort: "sequence" %}
  {% assign first_item = sorted_by_sequence | first %}

  {% if first_item.sequence %}
    {% assign playlist_sorted = sorted_by_sequence %}
  {% else %}
    {% assign playlist_sorted = related | sort: "title" %}
  {% endif %}

  {% if playlist_sorted.size > 0 %}
  <section class="song-project">
    <div class="horizontal-strip">

      {% assign max_tiles = 6 %}

      {% for song in playlist_sorted %}
        {% assign index = forloop.index %}

        <a class="tile playlist-tile {% if index > max_tiles %}hidden-tile{% endif %}"
           href="{{ song.url }}">
          <img src="{{ song.image }}" alt="{{ song.title }}">
          <h3 class="tile-title">{{ song.title }}</h3>
        </a>

      {% endfor %}
    </div>

    {% if playlist_sorted.size > max_tiles %}
       <button id="show-more-tiles" class="btn-secondary" data-state="collapsed">Show More</button>
    {% endif %}
   
  </section>
  {% endif %}
{% endif %}

