{% assign preview_mode = false %}
{% if page.preview_mode or page.preview == "true" or site.preview == "true" %}
  {% assign preview_mode = true %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/style-v2.css?v=24" />
</head>

<body>

  {% include header.html %}

  {% include hero.html %}

  {% unless page.url == "/" %}
    <h1 class="page-title">{{ page.title }}</h1>
  {% endunless %}
  
  <main>
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
