---
layout: default
---

<main>

  <section class="song-header">
    <h2 class="section-header">{{ page.title }}</h2>
    {% if page.subtitle %}
      <p class="song-subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </section>

  {% if page.youtube_id %}
  <div class="playlist-player">
    <iframe
      width="100%"
      height="360"
      src="https://www.youtube.com/embed/{{ page.youtube_id }}"
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
  {% endif %}

  <div id="song-details" class="song-details">
    <h2 id="song-title">{{ page.title }}</h2>
    <p id="song-description">{{ page.about }}</p>
    <div id="song-lyrics">
      {{ page.lyrics | markdownify }}
    </div>
  </div>

</main>
